# for data
numpy==1.21.4
scipy==1.7.2
pandas==1.3.4
openpyxl==3.0.9

# for models
dill==0.3.4
notebook==6.4.5

# for NLP
scikit-learn==0.23.2
spacy==3.2.0
networkx==2.6.3
fr-dep-news-trf @ https://github.com/explosion/spacy-models/releases/download/fr_dep_news_trf-3.2.0/fr_dep_news_trf-3.2.0-py3-none-any.whl
# en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.2.0/en_core_web_trf-3.2.0-py3-none-any.whl


# for viz
matplotlib==3.4.3
altair==4.1.0
seaborn==0.11.2
termcolor==1.1.0
tqdm==4.62.3
streamlit==1.2.0
streamlit-agraph==0.0.35